
body{
    font-family: $bodyFont;
    font-size: 1rem;
    line-height:1.5rem;
    background-color: $white;
    color: $black;
}

a{
    color: $primary;
    &:hover{color: darken($primary,10%);}
}

hr{
    border:none;
    border-bottom: 1px solid $gray;
    width:100%;
    height:0;
    margin: $baseGutter*2 0;
    overflow:hidden;
}

main{
    @extend .container;

    @include headings {padding:0 0 $baseGutter 0;}

    p{
        margin-bottom: $baseGutter;
    }

}

article{

    h1{color: $primary;}

    ul{
        margin:0 $baseGutter*2 $baseGutter $baseGutter*2;
        list-style: disc;
    }
}
