//Brash Vars

$radius: .4rem;

//Type
$bodyFont: "Open Sans", Arial, sans-serif;
$headingFont: "Roboto", Helvetica Neue, Helvetica, sans-serif;
strong, .bold{font-weight:600;}

//Colors
$white: #FFFFFF;
$black: #333333;
$red: #b02431;
$green: #A7D406;
$gray: #EAEAEA;
$dark-gray: lighten($black,15%);
$light-gray: lighten($gray,5%);
$pink: #FF337A;
$blue: #00B7D1;
$nude: #DEDCD3;

$primary: $blue;
$secondary: $pink;
$headerColor: $primary;

//Spacing
$baseGutter: 1rem;

//transition timing
$timing: .4s;

//Debug
.debug{background-color:rgba(125, 211, 236, 0.2);}
.point-grid{background-image: url('baseline-16.svg');background-size: 1rem;}
