<!DOCTYPE html>
<html lang="en">
<head>
<title>Tab Panel - Slider Edition Component - Brash UI</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="[[*description]]">
<meta name="keywords" content="[[*keywords]]">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:400,400italic,600" rel="stylesheet">
<link rel="stylesheet" href="../css/brash.css" />

</head>
<body>
    <div class="container">
        <p class="py1"><a href="../index.html">Back to the Kitchen Sink</a></p>
    </div>

<section class="container mt1">
    <h2>Tab Panel - Slider Edition</h2>
</section>

<section class="container">
    <div class="grid">
        <div class="grid-2 tab-slider no-screen brash_tabslider" data-height="300px">
            <div role="tablist" class="tablist-slider">
                <button role="tab" id="tab-btn-4" aria-selected="true" aria-controls="tab4">Han Solo</button>
                <button role="tab" id="tab-btn-5" aria-selected="false" aria-controls="tab5">Leia</button>
                <button role="tab" id="tab-btn-6" aria-selected="false" aria-controls="tab6">Poe</button>
            </div>

            <section role="tabpanel" class="tabpanel-slider" id="tab4" aria-labelledby="tab-btn-4" tabindex="0" aria-hidden="false">
                <div class="gutter">
                    <p class="sr-only">A Courageous space pirate</p>
                    <img src="../img/test-pic1.png" role="presentation">
                </div>
            </section>
            <section role="tabpanel" class="tabpanel-slider" id="tab5" aria-labelledby="tab-btn-5" tabindex="0" aria-hidden="true">
                <div class="gutter">
                    <p class="sr-only">The Rebellion Leader</p>
                    <img src="../img/test-pic2.jpg" role="presentation">
                </div>
            </section>
            <section role="tabpanel" class="tabpanel-slider" id="tab6" aria-labelledby="tab-btn-6" tabindex="0" aria-hidden="true">
                <div class="gutter">
                    <p class="sr-only">Ace Star Pilot</p>
                    <img src="../img/test-pic5.png" role="presentation">
                </div>
            </section>

        </div>
    </div>
</section>

<section class="container mt2" tabindex="0">
    <p>Next section for tab testing.</p>
</section>

<script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="../js/brash-ui.min.js"></script>

</body>
</html>
