<!DOCTYPE html>
<html lang="en">
<head>
<title>Accordion Component - Brash UI</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400,400italic,600" rel="stylesheet">
<link rel="stylesheet" href="../build/css/brash.css" />

</head>
<body>
    <div class="container">
        <p class="py1"><a href="../index.html">Back to the Kitchen Sink</a></p>
    </div>

<section class="container mt1">
    <h2>Accordion</h2>
</section>

<section class="container">

    <dl class="accordion" tabindex="0" role="tablist">
        <dt role="tab" tabindex="0" aria-controls="acc1">
            <span>Product</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc1" tabindex="0" role="tabpanel">
            The world’s fastest, most customizable Open Source PHP CMS. Your creative vision, no restrictions, no compromise.
        </dd>
        <dt role="tab" tabindex="0" aria-controls="acc2">
            <span>Platform</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc2" tabindex="0" role="tabpanel">
            Blazing fast, secure, maintained, and scalable cloud hosting platform with guaranteed uptime. Push button: get amazing.
        </dd>
        <dt role="tab" tabindex="0" aria-controls="acc3">
            <span>CMS</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc3" tabindex="0" role="tabpanel">
            Enterprise development from MODX, awesome vetted professionals, and the greatest Community in Open Source.
        </dd>
    </dl>

    <dl class="accordion" tabindex="0" role="tablist">
        <dt role="tab" tabindex="0" aria-controls="acc5">
            <span>First Amendment</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc5" tabindex="0" role="tabpanel">
            Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.
        </dd>
        <dt role="tab" tabindex="0" aria-controls="acc6">
            <span>Second Amendment</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc6" tabindex="0" role="tabpanel">
            A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.
        </dd>
        <dt role="tab" tabindex="0" aria-controls="acc7">
            <span>Third Amendment</span>
            <svg role="presentation" version="1.1" id="chevron-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.667px" height="10.833px" viewBox="0 0 15.667 10.833" enable-background="new 0 0 15.667 10.833" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.003,0L8,7.038L14.998,0v2.97L8,10.009L1.003,2.97V0z"></path></svg>
        </dt>
        <dd aria-hidden="true" id="acc7" tabindex="0" role="tabpanel">
            No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.
        </dd>
    </dl>

</section>

<section class="container mt2" tabindex="0">
    <p>Next section for tab testing.</p>
</section>

<script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="../build/js/brash-ui.min.js"></script>

</body>
</html>
